[theme="dark"] {
    --first-image: url("/static/bg.png");
    --first-color: #222346;
    --second-color: white;
    --panel-color: rgb(74, 74, 226);
    --title-color :  rgb(74, 74, 226)
}

[theme="light"] {
    --first-image: none;
    --first-color: #e1ddee;
    --second-color: rgb(93, 89, 99);
    --panel-color: #dba93e;
    --title-color: white;
}

* {
    transition: background-color 500ms;
    
}


.main-about {
    width: 100vw;
    height: 100vh;
    background-image : var(--first-image);
    background-color : var(--first-color);
}
.about-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* LEFT SIDE */

.left-side {
    width : 30vw; 
    height: 100vh;
    border-top-right-radius: 70px;
    background-color: rgb(29, 27, 32);
}

.header-about h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
    font-size: 45px;
    color: white;
    line-height: 1.3;
}

/* ACCORDION */
.accordion-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.accordion {
    width: 100%;
}
.collapse {
    width : 80%;
    overflow: hidden;
}
.card {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.accordion-buttons svg {
    cursor: pointer;
}

.card {
    background-color: var(--second-color);
    color: var(--panel-color)
}

.btn2 {
    color: var(--title-color);
    border: none;
    background-color: transparent;
    
}

/* THEME SWITCH BUTTON */
.dots-title {
    color: rgb(16, 13, 31);
}

.dot1 {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color: rgb(14, 4, 49);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot2 {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color: rgb(235, 223, 223);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dots {
    background-color: white;
    border-radius: 30px;
    width: 14.5vw;
    padding: 15px;
}



