body {
    padding-top: 0px;
    font-family: 'Work Sans', sans-serif;
}

.btn-color {
    background-color:  #dba93e;
    color: white;
}

.animated-btn {
    background-color: #dba93e;
    color: white;
    width: 23vw;
    border-radius: 25px;
}

/* NAVBAR COLLAPSE */

.btn-toggle{
    background-color:#dba93e;
    width: 90px;
    padding: 10px;
    border-radius: 30px; 
}

#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
}


#sidebar li {
    list-style-type: none;
}

#sidebar ul {
    background: #3c3c3d;
    border-radius: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid  rgb(29, 27, 32);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background:  #dba93e;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background:  rgb(29, 27, 32);
}


/* SIDEBAR COLLAPSE TOGGLE */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* LANDING PAGE */
.main {
    width : 100vw;
    background-image : url("/static/bg.png");
}

.row {
    margin : 0rem;
}

/*INPUT SECTION*/
.input-section {
    width : 40vw; 
    border-top-right-radius: 70px;
    background-color: rgb(29, 27, 32);
    color: white;
}

.input-form {
    border-radius: 25px;
    line-height: 8px;
}

.header-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 50px;;
}


/*POSTS SECTION*/
.status {
    color: black;
    border-radius: 40px;
    max-width: 100%;
    padding: 12px;
    text-overflow: ellipsis;
    overflow: scroll;
}

.post-section {
    height: 200vh;
    display: flex;  
}

.card-status {
    width: 250%;
    background-color: white !important;
}

.date {
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
}


/*CONFIRMATION PAGE*/
.main-confirm {
    background-image : url("/static/bg.png");
    width : 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

}
.confirm-card {
    width: 50vw !important;
    border-radius: 30px;
    background-color: rgb(29, 27, 32) !important;
    color: white !important;
}

.btn-length {
    width: 10vw;;
}

.confirmBox {
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 10px;
}


@media (max-width: 950px) {
    .header-text {
        font-size: 40px;
    }
}

@media (max-width: 790px) {
    .header-text {
        font-size: 35px;
    }

    .animated-btn {
        width: 15vw;
    }

}

@media (max-width: 500px){
    body {
        background-color: #222346;
    }

    .header-text {
        font-size: 45px;
    }

    .input-section {
        border-top-right-radius: 70px;
        background-color: #222346;
        color: white;
    }

    .input-form {
        width: 68vw;
        justify-content: center;
    }

    .animated-btn {
        width: 68vw;
    }
}

