{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="main-booksearch">
    <div class="row">

        <!-- Sidebar -->
        <nav id="sidebar2" class="left-container col-3">
            <div>
                <div class="sidebar-header header-about">
                    <h1>Book<br>Search</h1>
                </div>

                <ul class="list-unstyled components ml-3">
                    <p>Menu</p>
                    <div id="sidebarIn" class="active">
                        <li><a href="{% url 'status' %}">Story7</a></li>
                        <li><a href="{% url 'about' %}">Story8</a></li>
                        <li><a href="{% url 'bookSearch' %}">Story9</a></li>
                        <li><a href="{% url 'login' %}">Story10</a></li>
                    </div>
                </ul>
            </div>
        </nav>
        <!-- End sidebar -->
        
    

        <!-- Page Content -->
        <div class="right-container mt-5">

            <!-- Sidebar toggle button -->
            <div id="sidebar-toggle col">
                <nav class="navbar navbar-expand-lg navbar-light" id="sidebar-container">
                    <div class="container-fluid">
            
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" onclick="getTopBooks()">
                            Top 5 Books
                        </button>
            
                    </div>
                </nav>
            </div>

            <!-- Book search content -->
            <div class="container ml-5 mt-5">
                <div class="bookSearch-title">
                    <h1><img src="https://img.icons8.com/material-rounded/24/000000/book-shelf.png"/><span class="ml-3">BOOK SEARCH</span></h1>
                    
                </div>
        
                <div class="search-bar">
                    <input class="form-control" type="text" placeholder="What are you looking for..?" id="search-input" name="search">
                </div>
        
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="align-center">#</th>
                            <th scope="col" class="align-center">Cover</th>
                            <th scope="col" class="align-center">Title</th>
                            <th scope="col" class="align-center">Authors</th>
                            <th scope="col" class="align-center">Publisher</th>
                            <th scope="col" class="align-center">Published Date</th>
                            <th scope="col" class="align-center">Likes</th>
                        </tr>
                    </thead>
                    <tbody id="search-result"></tbody>
                </table>

            </div>
            <!-- End book search content -->

            <!-- Modal Content -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content d-flex justify-content-center">
                    <div class="modal-header">
                    <h5 class="modal-title mx-auto" id="exampleModalLongTitle">Top Liked Books</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <!-- Javascript generated content for top 5 books goes here -->
                    <div class="modal-body d-flex flex-column justify-content-center" id="modal-body">
                        
                    </div>

                </div>
                </div>
            </div>
            <!-- End modal content -->
        
            

        </div>
        <!-- End page content -->
    </div>
</div>      

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/story9.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar2').toggleClass('active');
            });

    });

</script>

{% endblock content %}