{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main-confirm">

    <form action="/confirmstatus/" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="message" value="{{message}}">
        <input type="hidden" name="confirm" value="yes">

        <div class="card confirm-card text-center my-5">
            <div class="card-header">
              Please confirm your post
            </div>
            <div class="card-body">
              <p class="card-text confirmTitle">Name   : </p> 
              <div class="card-text confirmBox mb-3">
                <p>{{name}}</p>
              </div>
              
              <p class="card-text confirmTitle">Status :</p>
              <div class="card-text confirmBox">
                  <p>{{message}}</p>
              </div>

              <div class="submitStatus mt-5">
                <button class="btn animated-btn" type="submit" name="post">Post</button>
                </div>
            </div>
          </div>
       

        
    </form>
</div>

{% endblock content %}