<div class="dropdown mt-3 mb-4">
        <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
            aria-haspopup="true" style="color: white;" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
            <button class="dropdown-item" type="button">
                <a href="{% url 'status' %}">Story7</a>
            </button>
            <button class="dropdown-item" type="button">
                    <a href="{% url 'about' %}">Story8</a>
                </button>
        </div>
    </div>
