<nav id="sidebar" class="mb-3">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" type=button aria-expanded="false" class="dropdown-toggle btn-toggle">Menu</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="{% url 'status' %}">Story7</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">Story8</a>
                </li>
                <li>
                    <a href="{% url 'bookSearch' %}">Story9</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Story10</a>
                </li>
            </ul>
        </li>
    </nav>