{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="main">
    <div class="row">
        <div class="col-4 input-section form">
                <div class= "input-section2 my-5 mx-5">
                   {% include "navbar.html" %}
                    <h1 class="header-text"> Tell us what's <br> happening.</h1>
                    <form id="myform" method="POST" class="mt-4">
                        {% csrf_token %}
                        {{form}}
                        <a onclick="submitForm()" class="btn btn-lg animated-btn animated-button thar-three my-4 btn-text" name="submit"><center>Post</center></a>
                    </form>
    

                </div>
        </div>
        
        <div class="col post-section">
            <div class= "my-5 mx-5">
                {% for stat in status %}
                <div class="card card-status my-4 ml-2 status">
                    <div class="card-body">
                        <h5 class="card-title"><bold>{{stat.name}}</bold> | <span class="card-text date">{{stat.date}}</span></h5>
                        <div class="message">
                            <p class="card-text mt-3">{{stat.message}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        
    </div>
</div>

<script>
   function submitForm() {
    document.getElementById("myform").submit();
}
</script>
    
{% endblock content %}
    